# Checking/Analysing Location Data with main data

The following items are needed for categorical analysis of mass shooting:
- region
- division
- state
- state_code
- county
- city    

Check, analyse and match the geographic/location data with the main dataset and use it for analysis.

## Importing Required Libraries

In [1]:
# importing the required libraries

import pandas as pd
import numpy as np

## Importing master List of States, counties and cities - I
- source - `opendatasoft`

In [2]:
path = r'C:\Users\pryns\OneDrive\Desktop\Dataset\Raw Dataset\georef-united-states-of-america-zc-point@public.csv'

In [3]:
geographic_data = pd.read_csv(path,delimiter = ';')

In [4]:
geographic_data.head()

,Zip Code,Official USPS city name,Official USPS State Code,Official State Name,ZCTA,ZCTA parent,Population,Density,Primary Official County Code,Primary Official County Name,County Weights,Official County Name,Official County Code,Imprecise,Military,Timezone,Geo Point
0,90005,Los Angeles,CA,California,True,NaN,39732.0,14151.8,6037,Los Angeles,"{""06037"": ""100""}",Los Angeles,6037,False,False,America/Los_Angeles,"34.05912, -118.30654"
1,90006,Los Angeles,CA,California,True,NaN,59576.0,11981.7,6037,Los Angeles,"{""06037"": ""100""}",Los Angeles,6037,False,False,America/Los_Angeles,"34.04801, -118.29418"
2,90008,Los Angeles,CA,California,True,NaN,31754.0,3337.9,6037,Los Angeles,"{""06037"": ""100""}",Los Angeles,6037,False,False,America/Los_Angeles,"34.00956, -118.34706"
3,90040,Los Angeles,CA,California,True,NaN,12328.0,852.8,6037,Los Angeles,"{""06037"": ""100""}",Los Angeles,6037,False,False,America/Los_Angeles,"33.99353, -118.14907"
4,90045,Los Angeles,CA,California,True,NaN,40567.0,1459.6,6037,Los Angeles,"{""06037"": ""100""}",Los Angeles,6037,False,False,America/Los_Angeles,"33.95297, -118.40014"

* above data has lots of information we need only the state, city and its county information
* creating a new dataframe below for the required information

In [5]:
geographic_data_1 = geographic_data[['Official USPS city name', 'Official USPS State Code','Official State Name','Primary Official County Name']].copy()

In [6]:
# dropping duplicates
geographic_data_1.drop_duplicates(inplace = True)

In [7]:
geographic_data_1.head()

,Official USPS city name,Official USPS State Code,Official State Name,Primary Official County Name
0,Los Angeles,CA,California,Los Angeles
5,Santa Monica,CA,California,Los Angeles
6,Torrance,CA,California,Los Angeles
7,Lomita,CA,California,Los Angeles
8,Long Beach,CA,California,Los Angeles

In [8]:
geographic_data_1

,Official USPS city name,Official USPS State Code,Official State Name,Primary Official County Name
0,Los Angeles,CA,California,Los Angeles
5,Santa Monica,CA,California,Los Angeles
6,Torrance,CA,California,Los Angeles
7,Lomita,CA,California,Los Angeles
8,Long Beach,CA,California,Los Angeles
...,...,...,...,...
33115,Deer Harbor,WA,Washington,San Juan
33116,Marblemount,WA,Washington,Skagit
33117,Sedro Woolley,WA,Washington,Skagit
33119,Lakebay,WA,Washington,Pierce
33120,Poulsbo,WA,Washington,Kitsap

* getting the unique list of state and city or county data from the original gun violence data to match and get the correct county information

In [9]:
geographic_data_1['Official State Name'].unique()

array(['California', 'Hawaii', 'Guam', 'Oregon', 'Washington',
       'South Dakota', 'Puerto Rico', 'Massachusetts', 'Rhode Island',
       'New Hampshire', 'Maine', 'Vermont', 'Connecticut', 'New Jersey',
       'New York', 'Pennsylvania', 'Delaware', 'District of Columbia',
       'Virginia', 'Maryland', 'West Virginia', 'North Carolina',
       'South Carolina', 'Georgia', 'Florida', 'Alabama', 'Tennessee',
       'Mississippi', 'Kentucky', 'Ohio', 'Indiana', 'Michigan', 'Iowa',
       'Wisconsin', 'Minnesota', 'North Dakota', 'Montana', 'Illinois',
       'Missouri', 'Kansas', 'Nebraska', 'Louisiana', 'Arkansas',
       'Oklahoma', 'Texas', 'Colorado', 'Wyoming', 'Idaho', 'Utah',
       'Arizona', 'New Mexico', 'Nevada', 'Alaska',
       'Northern Mariana Islands', 'Virgin Islands', 'American Samoa'],
      dtype=object)

In [10]:
geographic_data_1['Official USPS State Code'].unique()

array(['CA', 'HI', 'GU', 'OR', 'WA', 'SD', 'PR', 'MA', 'RI', 'NH', 'ME',
       'VT', 'CT', 'NJ', 'NY', 'PA', 'DE', 'DC', 'VA', 'MD', 'WV', 'NC',
       'SC', 'GA', 'FL', 'AL', 'TN', 'MS', 'KY', 'OH', 'IN', 'MI', 'IA',
       'WI', 'MN', 'ND', 'MT', 'IL', 'MO', 'KS', 'NE', 'LA', 'AR', 'OK',
       'TX', 'CO', 'WY', 'ID', 'UT', 'AZ', 'NM', 'NV', 'AK', 'MP', 'VI',
       'AS'], dtype=object)

## Importing region data
- source - `Centers for Disease Control and Prevention`

In [11]:
region_data = pd.read_csv(r'C:\Users\pryns\OneDrive\Desktop\Dataset\Raw Dataset\us_census_bureau_regions_divisions.csv')

In [12]:
region_data.head()

       State State Code   Region            Division
0   Illinois         IL  Midwest  East North Central
1    Indiana         IN  Midwest  East North Central
2   Michigan         MI  Midwest  East North Central
3       Ohio         OH  Midwest  East North Central
4  Wisconsin         WI  Midwest  East North Central

In [13]:
region_data.State.unique().shape

(51,)

## Importing main incident data regional

In [14]:
incident_geographic_data = pd.read_csv(r'C:\Users\pryns\OneDrive\Desktop\Dataset\Processed Dataset for POWER BI\incidents_location.csv')

In [15]:
incident_geographic_data.head()

,Incident ID,State,City Or County,Address
0,271363,Louisiana,New Orleans,Poydras and Bolivar
1,269679,California,Los Angeles,8800 block of South Figueroa Street
2,270036,California,Sacramento,4000 block of May Street
3,269167,Illinois,East St. Louis,2500 block of Summit Avenue
4,268598,Missouri,Saint Louis,18th and Pine

In [16]:
incident_geographic_data.State.unique()

array(['Louisiana', 'California', 'Illinois', 'Missouri', 'Kentucky',
       'Michigan', 'New York', 'Florida', 'Mississippi', 'New Jersey',
       'Pennsylvania', 'Oregon', 'Indiana', 'Virginia', 'Tennessee',
       'Georgia', 'Texas', 'Colorado', 'Ohio', 'South Dakota', 'Nevada',
       'Washington', 'South Carolina', 'Alaska', 'Massachusetts', 'Utah',
       'District of Columbia', 'Minnesota', 'New Mexico', 'Wisconsin',
       'North Carolina', 'Maine', 'Arkansas', 'Connecticut',
       'Rhode Island', 'Maryland', 'Alabama', 'Oklahoma', 'Arizona',
       'Nebraska', 'Iowa', 'Vermont', 'Delaware', 'Montana', 'Kansas',
       'West Virginia', 'Wyoming', 'Idaho', 'North Dakota',
       'New Hampshire', 'Hawaii'], dtype=object)

## Importing master List of States

In [17]:
geographic_data_master = pd.read_csv(r'C:\Users\pryns\OneDrive\Desktop\Dataset\Raw Dataset\us_states_master.csv')

In [18]:
geographic_data_master.head()

,Type,State,State Code,Capital,Since,Other Names,incident_states
0,State,Alabama,AL,Montgomery,1846,NaN,Alabama
1,State,Alaska,AK,Juneau,1906,NaN,Alaska
2,State,Arizona,AZ,Phoenix,1912,NaN,Arizona
3,State,Arkansas,AR,Little Rock,1821,NaN,Arkansas
4,State,California,CA,Sacramento,1854,NaN,California

## Analysing region and county data

In [19]:
print
(
incident_geographic_data.State.unique().shape,
geographic_data_master.State.unique().shape,
geographic_data_1["Official State Name"].unique().shape,
region_data.State.unique().shape,
)

((51,), (57,), (56,), (51,))

- checking if rest of the state data is within the geographic_data_master

In [20]:
print( '\n',
      
       # checking state data of main_incident dataset with master data
        np.isin(incident_geographic_data.State.unique(),geographic_data_master.State.unique()).all(),'\n',
    
       # checking state data of region dataset with master data
        np.isin(region_data.State.unique(),incident_geographic_data.State.unique()).all(),'\n',
    
      # checking state data of geographic_data dataset with master data
        np.isin(geographic_data_1["Official State Name"].unique(),geographic_data_master.State.unique()).all(),'\n',

    )

 True
 True
 False

In [21]:
np.isin(geographic_data_1["Official State Name"].unique(),geographic_data_master.State.unique())

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True])

In [22]:
geographic_data_1["Official State Name"].unique()

array(['California', 'Hawaii', 'Guam', 'Oregon', 'Washington',
       'South Dakota', 'Puerto Rico', 'Massachusetts', 'Rhode Island',
       'New Hampshire', 'Maine', 'Vermont', 'Connecticut', 'New Jersey',
       'New York', 'Pennsylvania', 'Delaware', 'District of Columbia',
       'Virginia', 'Maryland', 'West Virginia', 'North Carolina',
       'South Carolina', 'Georgia', 'Florida', 'Alabama', 'Tennessee',
       'Mississippi', 'Kentucky', 'Ohio', 'Indiana', 'Michigan', 'Iowa',
       'Wisconsin', 'Minnesota', 'North Dakota', 'Montana', 'Illinois',
       'Missouri', 'Kansas', 'Nebraska', 'Louisiana', 'Arkansas',
       'Oklahoma', 'Texas', 'Colorado', 'Wyoming', 'Idaho', 'Utah',
       'Arizona', 'New Mexico', 'Nevada', 'Alaska',
       'Northern Mariana Islands', 'Virgin Islands', 'American Samoa'],
      dtype=object)

In [23]:
geographic_data_master.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
       'American Samoa', 'Guam', 'Northern Mariana Islands',
       'Puerto Rico', 'Virgin Islands, U.S.', 'District of Columbia',
       'United States Minor Outlying Islands'], dtype=object)

- The states names are the same so we can merge these datasets on state names
- geographic_data_1 and geographic_data_master does not match for one state, which is Virgin Islands, we can edit the geographic_data_1 and change the name according to geographic_data_master

In [24]:
geographic_data_1["Official State Name"][geographic_data_1["Official State Name"]=='Virgin Islands']

3204     Virgin Islands
4096     Virgin Islands
11504    Virgin Islands
13074    Virgin Islands
16669    Virgin Islands
Name: Official State Name, dtype: object

In [25]:
# modifying state_name

for i in geographic_data_1["Official State Name"][geographic_data_1["Official State Name"]=='Virgin Islands'].index:
    geographic_data_1.loc[i,"Official State Name"] = 'Virgin Islands, U.S.'

In [26]:
geographic_data_1["Official State Name"][geographic_data_1["Official State Name"]=='Virgin Islands, U.S.']

3204     Virgin Islands, U.S.
4096     Virgin Islands, U.S.
11504    Virgin Islands, U.S.
13074    Virgin Islands, U.S.
16669    Virgin Islands, U.S.
Name: Official State Name, dtype: object

- creating a dataset for list of states and regions by merging reagion_data and geographic_data_master.

In [27]:
region_data.columns

Index(['State', 'State Code', 'Region', 'Division'], dtype='object')

In [28]:
us_states_regions = geographic_data_master.merge(region_data[['State','Region','Division']],'outer',left_on= 'State', right_on = 'State').drop(['Other Names','incident_states'],axis = 1)

In [29]:
us_states_regions.head()

    Type       State State Code      Capital  Since Region            Division
0  State     Alabama         AL   Montgomery   1846  South  East South Central
1  State      Alaska         AK       Juneau   1906   West             Pacific
2  State     Arizona         AZ      Phoenix   1912   West            Mountain
3  State    Arkansas         AR  Little Rock   1821  South  West South Central
4  State  California         CA   Sacramento   1854   West             Pacific

 - Checking incidents geographic data of city and county

In [30]:
# checking incident geographic data

incident_geographic_data.State.unique()

array(['Louisiana', 'California', 'Illinois', 'Missouri', 'Kentucky',
       'Michigan', 'New York', 'Florida', 'Mississippi', 'New Jersey',
       'Pennsylvania', 'Oregon', 'Indiana', 'Virginia', 'Tennessee',
       'Georgia', 'Texas', 'Colorado', 'Ohio', 'South Dakota', 'Nevada',
       'Washington', 'South Carolina', 'Alaska', 'Massachusetts', 'Utah',
       'District of Columbia', 'Minnesota', 'New Mexico', 'Wisconsin',
       'North Carolina', 'Maine', 'Arkansas', 'Connecticut',
       'Rhode Island', 'Maryland', 'Alabama', 'Oklahoma', 'Arizona',
       'Nebraska', 'Iowa', 'Vermont', 'Delaware', 'Montana', 'Kansas',
       'West Virginia', 'Wyoming', 'Idaho', 'North Dakota',
       'New Hampshire', 'Hawaii'], dtype=object)

In [31]:
us_states_regions.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
       'American Samoa', 'Guam', 'Northern Mariana Islands',
       'Puerto Rico', 'Virgin Islands, U.S.', 'District of Columbia',
       'United States Minor Outlying Islands'], dtype=object)

In [32]:
np.isin(us_states_regions.State.unique(),incident_geographic_data.State.unique())

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False, False,
       False,  True, False])

- No incidents have occured in the below states/areas 
- **'American Samoa', 'Guam', 'Northern Mariana Islands','Puerto Rico', 'Virgin Islands, U.S.', 'United States Minor Outlying Islands'**

- merging **geographic_data_1** and **incident_geographic_data** dataset on State and city/county to check if the cities and counties match

In [33]:
geographic_data_1.head()

,Official USPS city name,Official USPS State Code,Official State Name,Primary Official County Name
0,Los Angeles,CA,California,Los Angeles
5,Santa Monica,CA,California,Los Angeles
6,Torrance,CA,California,Los Angeles
7,Lomita,CA,California,Los Angeles
8,Long Beach,CA,California,Los Angeles

In [34]:
incident_geographic_data.head()

,Incident ID,State,City Or County,Address
0,271363,Louisiana,New Orleans,Poydras and Bolivar
1,269679,California,Los Angeles,8800 block of South Figueroa Street
2,270036,California,Sacramento,4000 block of May Street
3,269167,Illinois,East St. Louis,2500 block of Summit Avenue
4,268598,Missouri,Saint Louis,18th and Pine

In [35]:
incident_geographic_data[['State','City Or County']].shape

(4521, 2)

In [36]:
incident_geographic_data[['State','City Or County']].drop_duplicates().shape

(1219, 2)

In [37]:
# merging the master data with incident geographic data on County

merge_1 = incident_geographic_data[['State','City Or County']].drop_duplicates().merge(
                        geographic_data_1[['Official State Name','Primary Official County Name']].drop_duplicates(),
                        'outer',
                        left_on = ['State','City Or County'], 
                        right_on = ['Official State Name','Primary Official County Name']
                            )

In [38]:
location_data_1 = merge_1[(merge_1['Primary Official County Name'].isna() == False) & (merge_1['City Or County'].isna() == False) ]

In [39]:
location_data_1.head()

         State City Or County Official State Name Primary Official County Name
1   California    Los Angeles          California                  Los Angeles
2   California     Sacramento          California                   Sacramento
9      Florida       Sarasota             Florida                     Sarasota
19    Virginia   Newport News            Virginia                 Newport News
26  California  San Francisco          California                San Francisco

In [40]:
# only 137 counties matched

location_data_1.shape[0]

137

In [41]:
# filtering the unmatched data

merge_1_find = merge_1[(merge_1['Primary Official County Name'].isna() == True)]

In [42]:
merge_1_find.head()

       State  City Or County Official State Name Primary Official County Name
0  Louisiana     New Orleans                 NaN                          NaN
3   Illinois  East St. Louis                 NaN                          NaN
4   Missouri     Saint Louis                 NaN                          NaN
5   Kentucky      Winchester                 NaN                          NaN
6   Michigan         Detroit                 NaN                          NaN

In [43]:
merge_1_find.shape[0]

1082

In [44]:
1082+137

1219

In [45]:
# merging the master data with unmatched data on City

merge_2 = merge_1_find[['State','City Or County']].drop_duplicates().merge(
                        geographic_data_1,
                        'outer',
                        left_on = ['State','City Or County'], 
                        right_on = ['Official State Name','Official USPS city name']
                            )

In [46]:
# filtering matching data

location_data_2 = merge_2[(merge_2['Official USPS city name'].isna() == False) & (merge_2['City Or County'].isna() == False)]

In [47]:
# 1034 mathing iteme;
# but it seems that a city has more than 2 counties

location_data_2.shape[0]

1034

In [48]:
location_data_2.head()

,State,City Or County,Official USPS city name,Official USPS State Code,Official State Name,Primary Official County Name
0,Louisiana,New Orleans,New Orleans,LA,Louisiana,Orleans
1,Louisiana,New Orleans,New Orleans,LA,Louisiana,Jefferson
3,Missouri,Saint Louis,Saint Louis,MO,Missouri,St. Louis
4,Kentucky,Winchester,Winchester,KY,Kentucky,Clark
5,Michigan,Detroit,Detroit,MI,Michigan,Wayne

In [49]:
# frequency of a city having more that 1 county

pd.DataFrame(location_data_2[location_data_2.columns[:-1]].value_counts()).reset_index()[pd.DataFrame(location_data_2[location_data_2.columns[:-1]].value_counts()).reset_index()["count"] > 1]

,State,City Or County,Official USPS city name,Official USPS State Code,Official State Name,count
0,Minnesota,Saint Paul,Saint Paul,MN,Minnesota,4
1,Maryland,Laurel,Laurel,MD,Maryland,3
2,Georgia,Atlanta,Atlanta,GA,Georgia,3
3,Texas,Amarillo,Amarillo,TX,Texas,3
4,Mississippi,Greenville,Greenville,MS,Mississippi,3
5,Oregon,Portland,Portland,OR,Oregon,3
6,Missouri,Kansas City,Kansas City,MO,Missouri,3
7,Illinois,Aurora,Aurora,IL,Illinois,3
8,Oklahoma,Oklahoma City,Oklahoma City,OK,Oklahoma,3
9,Minnesota,Minneapolis,Minneapolis,MN,Minnesota,2
10,Texas,Katy,Katy,TX,Texas,2
11,North Carolina,Rocky Mount,Rocky Mount,NC,North Carolina,2
12,Texas,Baytown,Baytown,TX,Texas,2
13,Oklahoma,Broken Arrow,Broken Arrow,OK,Oklahoma,2
14,Washington,Bothell,Bothell,WA,Washington,2
15,Minnesota,Saint Cloud,Saint Cloud,MN,Minnesota,2
16,Nebraska,Omaha,Omaha,NE,Nebraska,2
17,Alabama,Phenix City,Phenix City,AL,Alabama,2
18,Texas,Cleveland,Cleveland,TX,Texas,2
19,Arizona,Tucson,Tucson,AZ,Arizona,2
20,South Carolina,North Charleston,North Charleston,SC,South Carolina,2
21,Georgia,Rome,Rome,GA,Georgia,2
22,Oregon,Salem,Salem,OR,Oregon,2
23,North Carolina,High Point,High Point,NC,North Carolina,2
24,Louisiana,New Orleans,New Orleans,LA,Louisiana,2
25,Florida,Kissimmee,Kissimmee,FL,Florida,2
26,Mississippi,Hattiesburg,Hattiesburg,MS,Mississippi,2
27,Indiana,Indianapolis,Indianapolis,IN,Indiana,2
28,Georgia,Augusta,Augusta,GA,Georgia,2
29,Ohio,Cincinnati,Cincinnati,OH,Ohio,2
30,Ohio,Columbus,Columbus,OH,Ohio,2
31,Wisconsin,Madison,Madison,WI,Wisconsin,2
32,Ohio,Dayton,Dayton,OH,Ohio,2
33,Alabama,Birmingham,Birmingham,AL,Alabama,2
34,Georgia,Acworth,Acworth,GA,Georgia,2
35,South Carolina,Columbia,Columbia,SC,South Carolina,2
36,New York,Troy,Troy,NY,New York,2
37,Texas,San Antonio,San Antonio,TX,Texas,2
38,West Virginia,Huntington,Huntington,WV,West Virginia,2
39,Michigan,Lansing,Lansing,MI,Michigan,2
40,South Dakota,Sioux Falls,Sioux Falls,SD,South Dakota,2
41,Colorado,Brighton,Brighton,CO,Colorado,2
42,Texas,Spring,Spring,TX,Texas,2
43,Colorado,Aurora,Aurora,CO,Colorado,2

- there are >= 2 county names for the same city, keeping the first row and eliminating the rest as duplicates

In [50]:
location_data_2 = location_data_2[location_data_2.duplicated(subset = location_data_2.columns[:-1],keep = 'first') == False]

In [51]:
location_data_2

,State,City Or County,Official USPS city name,Official USPS State Code,Official State Name,Primary Official County Name
0,Louisiana,New Orleans,New Orleans,LA,Louisiana,Orleans
3,Missouri,Saint Louis,Saint Louis,MO,Missouri,St. Louis
4,Kentucky,Winchester,Winchester,KY,Kentucky,Clark
5,Michigan,Detroit,Detroit,MI,Michigan,Wayne
6,New York,Webster,Webster,NY,New York,Monroe
...,...,...,...,...,...,...
1129,Pennsylvania,Mohnton,Mohnton,PA,Pennsylvania,Berks
1130,Mississippi,Benoit,Benoit,MS,Mississippi,Bolivar
1131,Colorado,Oak Creek,Oak Creek,CO,Colorado,Routt
1134,Pennsylvania,Tobyhanna,Tobyhanna,PA,Pennsylvania,Monroe
1135,Illinois,Galesburg,Galesburg,IL,Illinois,Knox

In [52]:
# 980 matching cities with county information

location_data_2.shape[0]

980

In [53]:
# filtering unmatched data from merge_2

location_data_3 = merge_2[(merge_2['Official USPS city name'].isna() == True) & (merge_2['City Or County'].notna() == True)]

In [54]:
location_data_3

,State,City Or County,Official USPS city name,Official USPS State Code,Official State Name,Primary Official County Name
2,Illinois,East St. Louis,NaN,NaN,NaN,NaN
49,Texas,Flour Bluff,NaN,NaN,NaN,NaN
60,California,East Palo Alto,NaN,NaN,NaN,NaN
86,Washington,Skyway,NaN,NaN,NaN,NaN
93,Illinois,Centreville,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1108,Louisiana,La Place (Laplace),NaN,NaN,NaN,NaN
1119,South Carolina,Mccormick,NaN,NaN,NaN,NaN
1123,Pennsylvania,Norristown (East Norriton),NaN,NaN,NaN,NaN
1132,Florida,Fort Lauderdale (Sunrise),NaN,NaN,NaN,NaN
1133,Pennsylvania,Mc Kees Rocks (Mckees Rocks),NaN,NaN,NaN,NaN

In [55]:
location_data_3.shape[0]

102

- exporting this data to get the remaining County information from **CHAT GPT**

In [56]:
location_data_3[["State","City Or County"]].to_csv(r'C:\Users\pryns\OneDrive\Desktop\Dataset\county_info.csv',index = False)

- using the country information got from **CHAT GPT**

In [57]:
location_data_3 = pd.read_csv(r'C:\Users\pryns\OneDrive\Desktop\Dataset\county_info_chatgpt.csv')

In [58]:
# removing the 'County' suffix from all the county names

location_data_3['County'] = location_data_3.County.str.replace(' County','')

In [59]:
location_data_3.head()

             City       State     County
0  East St. Louis    Illinois  St. Clair
1     Flour Bluff       Texas     Nueces
2  East Palo Alto  California  San Mateo
3          Skyway  Washington       King
4     Centreville    Illinois  St. Clair

In [60]:
# Checking if  the 'Parish' suffix exists in county names
location_data_3[location_data_3['County'].str.contains('Parish')]

                      City      State                       County
42  New Orleans (Gentilly)  Louisiana               Orleans Parish
49   New Orleans (Algiers)  Louisiana               Orleans Parish
89     Hahnville (Killona)  Louisiana           St. Charles Parish
97      La Place (Laplace)  Louisiana  St. John the Baptist Parish

In [61]:
# removing the 'Parish' suffix from the county names

location_data_3['County'] = location_data_3['County'].str.replace(' Parish','')

In [62]:
location_data_3[location_data_3['County'].str.contains('Parish')]

Empty DataFrame
Columns: [City, State, County]
Index: []

In [63]:
# renaming the County Column to "County/Parish"

location_data_3.rename(columns = {'County':'County/Parish'},inplace = True)

In [64]:
location_data_3.head()

             City       State County/Parish
0  East St. Louis    Illinois     St. Clair
1     Flour Bluff       Texas        Nueces
2  East Palo Alto  California     San Mateo
3          Skyway  Washington          King
4     Centreville    Illinois     St. Clair

In [66]:
# checking if data has been extracted for the required no.of cities
sum((location_data_1.shape[0],location_data_2.shape[0],location_data_3.shape[0]))

1219

## Cleaning and exporting data for POWER BI Consumption

- checking out the column labels and sequence

In [67]:
location_data_1.columns

Index(['State', 'City Or County', 'Official State Name',
       'Primary Official County Name'],
      dtype='object')

In [68]:
location_data_2.columns

Index(['State', 'City Or County', 'Official USPS city name',
       'Official USPS State Code', 'Official State Name',
       'Primary Official County Name'],
      dtype='object')

In [69]:
location_data_3.columns

Index(['City', 'State', 'County/Parish'], dtype='object')

In [70]:
location_data_1.head()

         State City Or County Official State Name Primary Official County Name
1   California    Los Angeles          California                  Los Angeles
2   California     Sacramento          California                   Sacramento
9      Florida       Sarasota             Florida                     Sarasota
19    Virginia   Newport News            Virginia                 Newport News
26  California  San Francisco          California                San Francisco

In [73]:
location_data_1.rename({"Primary Official County Name":"County/Parish"},axis = 1,inplace = True)

C:\Users\pryns\AppData\Local\Temp\ipykernel_9972\479317254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_data_1.rename({"Primary Official County Name":"County"},axis = 1,inplace = True)

In [77]:
location_data_1.drop("Official State Name", axis = 1,inplace = True)

C:\Users\pryns\AppData\Local\Temp\ipykernel_9972\3570230377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_data_1.drop("Official State Name", axis = 1,inplace = True)

In [80]:
location_data_1

               State City Or County         County
1         California    Los Angeles    Los Angeles
2         California     Sacramento     Sacramento
9            Florida       Sarasota       Sarasota
19          Virginia   Newport News   Newport News
26        California  San Francisco  San Francisco
...              ...            ...            ...
1151  South Carolina     Darlington     Darlington
1191      California         Orange         Orange
1193        Colorado        Boulder        Boulder
1214        Oklahoma       Muskogee       Muskogee
1217      California  Santa Barbara  Santa Barbara

[137 rows x 3 columns]

In [86]:
location_data_2.drop(["Official USPS city name","Official USPS State Code","Official State Name"],axis=1,inplace = True)

In [87]:
location_data_2.rename({"Primary Official County Name":"County/Parish"},axis = 1,inplace = True)

In [88]:
location_data_2

             State City Or County     County
0        Louisiana    New Orleans    Orleans
3         Missouri    Saint Louis  St. Louis
4         Kentucky     Winchester      Clark
5         Michigan        Detroit      Wayne
6         New York        Webster     Monroe
...            ...            ...        ...
1129  Pennsylvania        Mohnton      Berks
1130   Mississippi         Benoit    Bolivar
1131      Colorado      Oak Creek      Routt
1134  Pennsylvania      Tobyhanna     Monroe
1135      Illinois      Galesburg       Knox

[980 rows x 3 columns]

In [90]:
location_data_3.head()

             City       State County/Parish
0  East St. Louis    Illinois     St. Clair
1     Flour Bluff       Texas        Nueces
2  East Palo Alto  California     San Mateo
3          Skyway  Washington          King
4     Centreville    Illinois     St. Clair

In [103]:
location_data_3 = location_data_3[['State','City','County/Parish']].copy()

In [104]:
location_data_3.rename({"City":"City Or County"},axis = 1,inplace = True)

In [105]:
location_data_3

              State               City Or County         County/Parish
0          Illinois               East St. Louis             St. Clair
1             Texas                  Flour Bluff                Nueces
2        California               East Palo Alto             San Mateo
3        Washington                       Skyway                  King
4          Illinois                  Centreville             St. Clair
..              ...                          ...                   ...
97        Louisiana           La Place (Laplace)  St. John the Baptist
98   South Carolina                    Mccormick             McCormick
99     Pennsylvania   Norristown (East Norriton)            Montgomery
100         Florida    Fort Lauderdale (Sunrise)               Broward
101    Pennsylvania  McKees Rocks (Mckees Rocks)             Allegheny

[102 rows x 3 columns]

In [107]:
gegraphic_data_incidents = pd.concat([location_data_1,location_data_2,location_data_3],ignore_index = True)

## exporting the required data for POWER BI

In [110]:
gegraphic_data_incidents.to_csv(r'C:\Users\pryns\OneDrive\Desktop\Dataset\Processed Dataset for POWER BI\us_city_county.csv',index = False)

In [111]:
us_states_regions.to_csv(r'C:\Users\pryns\OneDrive\Desktop\Dataset\Processed Dataset for POWER BI\us_states_regions.csv',index = False)